<div class="imgcontainer">
    <img src="https://picsum.photos/150/150" alt="Avatar" class="avatar">
</div>
<label style="padding-left: 48%;font-size:xx-large;">Login</label>
<form>

    <div class="container">

        <div class="form-group">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" class="form-control" autocomplete="off" required>
        </div>
        <div class="form-group">

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" class="form-control" name="psw" required>
        </div>
    </div>
    <div class="login">
        <a routerLink="/home"><button>Login</button></a>

    </div>

</form>