<!---<div style="margin-left: 30%;background-color: rgb(242, 192, 248); margin-right: 20%; padding-left:1% ; padding-top: 2%;padding-bottom: 3%;">
    <button class="btn btn-sm text-white btn-danger" (click)="nav()" style="margin-left: 90%;"> 
        
    
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
          </svg>
    
    
    </button>
    <label style="margin-left: 40%; margin-top: 3%;">
        Employee Details
    </label>
    <ul *ngFor="let obj of edata;">
        <div *ngIf="obj.id==example">

            <li>ID : {{obj.id}}</li>
            <li>First Name : {{obj.name}}</li>
            <li>Last Name : {{obj.lname}}</li>
            <li>Age : {{obj.age}}</li>
            <li>Date of Birth : {{obj.dob}}</li>
            <li>Gender : {{obj.Gender}}</li>
            <li>Salary : {{obj.salary}}</li>
            <li>Phone Number : {{obj.Phno}}</li>
        </div>

    </ul>


</div>
<br><br>
-->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Modal
  </button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                <ul *ngFor="let obj of edata;">
                    <div *ngIf="obj.id==empid">

                        <li>ID : {{obj.id}}</li>
                        <li>First Name : {{obj.name}}</li>
                        <li>Last Name : {{obj.lname}}</li>
                        <li>Age : {{obj.age}}</li>
                        <li>Date of Birth : {{obj.dob | date:"MM/dd/yy" }}</li>
                        <li>Gender : {{obj.Gender | uppercase }}</li>
                        <li>Salary : {{obj.salary | currency:"USD" }}</li>
                        <li>Phone Number : {{obj.Phno}}</li>
                    </div>

                </ul>


            </div>

        </div>
    </div>
</div>